{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Assigned Theses
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default active stretched-link" href=" ">All</a>
                    {% for c in course  %}
                            <div class="card-tools btn-group" data-toggle="buttons">
                            <a class="btn btn-default active stretched-link" value="{{c.id}}" href="">{{ c.course_name }}</a>
                            </div>
                    {% endfor %}
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Assigned Theses</h3>
                            <a class="fas fa-download card-tools " href="{% url 'pdf_downloadall' %}">DownloadAll</a>
                        </div>

                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Topic</th>
                                        <th>Author</th>
                                        <th>Supervisor</th>
                                        <th>Course</th>
                                        <th>Thesis Download</th>
                                    </tr>
                                    </thead>
                                    {% for row in thesis %}
                                    <tr>
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.thesis_name }}</td>
                                            <td>
                                             {{ row.author_id.admin.first_name }} {{ row.author_id.admin.last_name }}
                                            </td>
                                            <td>
                                             {{ row.staff_id.first_name }} {{ row.staff_id.last_name }}
                                            </td>
                                        <td>{{ row.course_id.course_name }}</td>
                                        <td>
                                            <a class="fas fa-download" href="{% url 'pdf_download' row.id %}">Download</a>
                                        </td>

                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}
{% endblock custom_js %}