{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Assigned Theses
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-control" method="POST" action="">
                        {% csrf_token %}
                <select name="c_id" id="c_id">
                    {% for c in course  %}
                        <option value="{{ c.id }}">{{ c.course_name }}</option>
                    {% endfor %}
                </select>
            <button class="button fas fa-filter" id="fetch_course">fetch</button>

           </form>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Assigned Theses</h3>
                            <a class="fas fa-download card-tools " href="{% url 'pdf_downloadall' %}">DownloadAll</a>
                        </div>

                        <div class="card-footer" id="student_data">
                        </div>

                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Topic</th>
                                        <th>Author</th>
                                        <th>Supervisor</th>
                                        <th>Course</th>
                                        <th>Thesis Download</th>
                                    </tr>
                                    </thead>
                                {% if c_id == thesis.course_id %}
                                {{ c_id }}
                                {% endif %}



                                    {% for row in thesis %}

                                    <tr>
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.thesis_name }}</td>
                                            <td>
                                             {{ row.author_id.admin.first_name }} {{ row.author_id.admin.last_name }}
                                            </td>
                                            <td>
                                             {{ row.staff_id.first_name }} {{ row.staff_id.last_name }}
                                            </td>
                                        <td>{{ row.course_id.course_name }}</td>
                                        <td>
                                            <a class="fas fa-download" href="{% url 'pdf_download' row.id %}">Download</a>
                                        </td>

                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}
    <script>
    $(document).ready(function(){
        $("#fetch_course").click(function(){

            // Displaying Students Based on Staff, Course and Session Enrolled

            var c_id=$("#c_id").val()
          //  var session_year=$("#session_year").val()

            $.ajax({
                url:'{% url 'get_course' %}',
                type:'POST',
                data:{c_id:c_id},
            })

                .done(function(response){
                var json_data=JSON.parse(response);
                console.log(json_data)
                //Displaying Attendance Date Input and Students Attendance
                var div_data="<div class='form-group'><label>Student List</label> <select class='student_list form-control' name='student_list'>"

                for(key in json_data)
                {
                    div_data+="<option value=' "+ json_data[key]['id'] +"'>ID: "+ json_data[key]['id'] +" : "+ json_data[key]['name'] +" </option>";

                }
                div_data+="</select>";
                div_data+="</div>";
                div_data+="<div class='form-group'><div class='row'>";


                div_data+="</div></div>";

                div_data+="<div class='form-group'>";
                div_data+="<button id='save_attendance' class='btn btn-success' type='submit'>Save Result</button>";
                div_data+="</div>";
                $("#student_data").html(div_data);

            })
            .fail(function(){
                alert("Error in Fetching Course.")
            })
        })
    })
    </script>
{% endblock custom_js %}