{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Assigned Theses
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Assigned Theses</h3>
                        </div>

                        <div class="card-body">
                           <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>#ID</th>
                                        <th>Subject</th>
                                        <th>Author</th>
                                        <th>Course</th>
                                    </tr>
                                    </thead>

                                    {% for row in thesis %}
                                        {% if row.staff_id.id ==  staff.admin.id %}

                                    <tr>
                                        <td>{{ row.id }}</td>
                                        <td>{{ row.thesis_name }}</td>
                                            <td>
                                             {{ row.author_id.admin.first_name }} {{ row.author_id.admin.last_name }}
                                            </td>
                                            <td>{{ row.course_id.course_name }}</td>

                                        {% endif %}

                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}